
<IfModule mod_rewrite.c>

AddDefaultCharset UTF-8
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?url=$1  [QSA,L]
	RewriteCond %{SERVER_PORT} 80 
	RewriteRule ^(.*)$ https://www.solucionesvillar.cl/encuesta/$1 [QSA,R,L]
	
	
</IfModule>
